#
main
newFile_teste
main.dSYM/
.vscode/
.DS_Store
Projeto1/.DS_Store
Projeto1/VW_MENSAL_ALUNOS_ESTRANGEIROS_POR_NACIONALIDADE_31032021.csv
../.vscode/settings.json
meuTeste*
filetypeDict.txt
teste.csv
../.DS_Store
